[paths]
source =
   register_apps
   */register_apps

[run]
source =
    register_apps

omit =
    *register_apps/__main__.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
